
@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay-draggable {
  cursor: grab;
  user-select: none;
  transition: border 0.2s;
}

.overlay-draggable:hover {
  border: 2px solid #3b82f6 !important; 
}